---
pool:
  name: default
  vmImage: ubuntu-latest
steps:
  - task: Maven@3
    inputs:
      mavenPOMFile: 'pom.xml'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.8'
      jdkArchitectureOption: 'x64'
      goals: 'package'
